<h2><i>Please enter Email Id and Password</i></h2><br/>
<% if flash[:notice] %>
  <div style="font-family:'Trebuchet MS'; color:#FF0000; font-size:14px;">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_tag :controller=>'logins', :action=>'create' %>
    Email:<%= text_field("userform", "email",:size=>"20" ) %>
    Password:<%= password_field("userform", "password",:size=>"20" )%><br/><br/>
<input type="submit" value=" LOGIN " />