<h1 align="left">Pravin Kumar</h1>
<h2 align="left">Web Designer and Developer</h2>
<h3 align="left">PHP,JOOMLA and RUBY ON RAILS</h3>
<h3 align="left">Email:-pravinmishra88@gmail.com</h3>
<h3 align="left">Phone:+91-9749448334</h3>

<h3 align="left">http://php-ajax-javascript.blogspot.com/</h3>
<h3 align="left">http://c-sharp-online.blogspot.com</h3>
<h3 align="left">http://rubyonrailsqa.blogspot.com/</h3>
<h3 align="left">http://pravin-sap-abap.blogspot.com/</h3>
<h3 align="left">http://android-java-based.blogspot.com/</h3>
